# Data Science Tools and Ecosystem

## Author
Wonho Lim

In this notebook, Data Science Tools and Ecosystem are summarized.

##### Objectives:
1. Learn what data sicence is
2. Learn what languages are used in data science
3. Learn what tools are used in data science

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Pandas
3. Keras

| Data Science Tools |
| --- |
| R Studio |
| Jupyter Notebook |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
 # This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

Objectives: